body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container {
	width: 80%;
	margin: auto; 
	overflow: hidden;
}

.button1{
	height: 34px;
	background: #ef481d;	
	border: none;
	padding-left: 20px;
	padding-right: 20px;
}

.dark {
	padding: 15px;
	background: #354248;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Header*/

header{
	background: #222222;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #883333 3px solid;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
}

 

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;	
}

header #branding {
	float: left;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a {
	color: red;
	font-weight: bold;
}

header a:hover {
	color: #66ff66;
	font-weight: bold;
}


/*Showcase*/

#showcase{
	min-height: 300px;
	background:url('../img/time.jpg') repeat 0px -800px ;
	text-align: center;
	color: brown;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 20px;
}


/* newsletter*/
#newsletter {
	padding: 15px;
	background: #222222 ;
	color: #ffffff;
}

#newsletter h1 {
	float: left;
}

#newsletter form {
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*Boxes*/

#boxes {
	margin-top: 20px;
}

#boxes .box {
	float:left;
	width: 30%;
	padding:10px;
	text-align: center;
}


#boxes .box img {
	width: 90px;
}
/*Sidebar*/
aside#sidebar {
	float: right;
	width: 30%;
	margin-top:10px;
}

/*main-col*/
article#main-col {
	float: left;
	width: 65%;
}
#services {
	float: left;

}
/*Services*/

ul#services li {
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #777777;
}

aside#sidebar .quote input, aside#sidebar .quote textinput {
	width : 90%;
	padding: 5px;
}
footer {
	padding: 20px;
	margin-top: 20px;
	color: white;
	background: #8e33e3;
	text-align: center;
}


/*MEdia query*/

@media(max-width: 660px){
	header #branding, header nav, 
	header nav li, 
	#newsletter h1,
	#newsletter form, #boxes .box, 
	article#main-col, aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}

	header {
		padding-bottom: 20px; 
	}
	#showcase h1 {
		margin-top: 40px;
	}
	#newsletter button {
		display: block;
		width: 100%;
	}
	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
}